/* Mobile Device Responsive */
@media screen and (max-width: 576px) {
  header {
    padding: 10px;
  }

  .btn_primary {
    padding: 5px 20px;
    font-size: 14px;
  }

  nav,
  .teams_container {
    flex-direction: column;
  }
  .nav_title {
    font-size: 1rem;
  }
  nav li {
    font-size: 14px;
    margin-right: 10px;
  }
  main {
    margin: 10px auto;
  }
  /* Teams Container Styles */
  .teams_img_container {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .teams_content {
    width: 100%;
    padding-left: 0px;
    margin: 10px 0px;
  }
  .teams_title {
    font-size: 1.2rem;
  }
  .teams_content .teams_description {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  /* Banner Styles */
  .banner_title {
    font-size: 1rem;
  }
  .banner_description {
    font-size: 12px;
  }
}

/* Tablet Or Medium Device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 10px;
  }
  nav {
    flex-direction: column;
  }
}
