/* Google Font Added */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

.btn_primary {
  padding: 10px 25px;
  border: 1px solid #ff900e;
  background-color: #ff900e;
  color: #fff;
  font-size: 1.25rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
.btn_primary:hover {
  background: transparent;
  color: #ff900e;
}

/* Header Styles */
header {
  background-color: #fff4e7;
  padding: 5px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li:last-child {
  margin-right: 0;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* Banner Styles */
.banner_content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner_title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner_description {
  font-weight: 400;
  font-size: 1rem;
  color: #727272;
}

.banner img {
  width: 100%;
  margin-top: 20px;
}

/* Main Styles */
main {
  max-width: 1140px;
  margin: 70px auto;
}

/* Teams Styles */
.teams_container {
  display: flex;
  align-items: center;
}
.teams_img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 50%;
}
.teams_img_container img {
  width: 100%;
}

.teams_content {
  padding-left: 50px;
  width: 50%;
}
.teams_title {
  font-size: 2.8rem;
  margin: 2px 0;
}
.teams_title .quick_list {
  color: #727272;
  font-weight: 500;
}
.teams_title .text_features {
  color: #ff900e;
  font-weight: 700;
}
.teams_content .teams_description {
  color: #727272;
  font-weight: 400;
  font-size: 1rem;
}

/* Features Section Style */
.features {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  gap: 100px;
}
.features_title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
  margin: 0px;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features_description {
  font-weight: 400;
  font-size: 1rem;
  color: #727272;
  line-height: 1.3rem;
}
.features_content {
  width: 50%;
}
.features .card {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features_img {
  width: 50%;
}
.features_img img {
  width: 100%;
}

.ten_years_badge {
  border-radius: 8px;
  background-color: #ff900e;
  color: #fff;
  width: 242px;
  padding: 30px;
}
.ten_years_badge h2 {
  font-size: 3rem;
  margin: 0;
}

/* Some Facts Style */
.facts {
  margin: 30px 0;
}
.facts_title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
  margin: 0px;
}
.facts_description {
  font-weight: 400;
  font-size: 1rem;
  color: #727272;
  width: 50%;
  line-height: 1.3rem;
}

.facts_card_container {
  display: flex;
  justify-content: space-between;
}

.facts_card_container .card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 30px 40px;
}

.facts_card_container .card_stats {
  font-weight: 600;
  color: #424242;
  font-size: 1rem;
  margin: 0;
}

.facts_card_container .card_title {
  font-weight: 600;
  color: #727272;
  font-size: 1rem;
  margin: 0;
}

/* Our Sponspors Style */
.sponspors_title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
  text-align: center;
  margin: 0px;
}
.sponspors_description {
  width: 50%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #727272;
  line-height: 1.3rem;
  padding: 20px 0;
}
.sponspors_img_container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
