/* Google Font Added */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

.btn_primary {
  padding: 10px 25px;
  border: 1px solid #ff900e;
  background-color: #ff900e;
  color: #fff;
  font-size: 1.25rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
.btn_primary:hover {
  background: transparent;
  color: #ff900e;
}

/* Header Styles */
header {
  background-color: #fff4e7;
  padding: 5px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li:last-child {
  margin-right: 0;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* Banner Styles */
.banner_content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner_title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner_description {
  font-weight: 400;
  font-size: 1rem;
  color: #727272;
}

.banner img {
  width: 100%;
  margin-top: 20px;
}

/* Main Styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* Teams Styles */
.teams_container {
  display: flex;
  align-items: center;
}
.teams_img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 50%;
}
.teams_img_container img {
  width: 100%;
}

.teams_content {
  padding-left: 50px;
  width: 50%;
}
.teams_title {
  font-size: 2.8rem;
  margin: 2px 0;
}
.teams_title .quick_list {
  color: #727272;
  font-weight: 500;
}
.teams_title .text_features {
  color: #ff900e;
  font-weight: 700;
}
.teams_content .teams_description {
  color: #727272;
  font-weight: 400;
  font-size: 1rem;
}
